#https://docs.vorondesign.com/community/howto/EricZimmerman/BackupConfigToGithub.html
#if you get errors for this macro , run the next command
# wget -O ~/klipper/klippy/extras/gcode_shell_command.py https://raw.githubusercontent.com/th33xitus/kiauh/master/resources/gcode_shell_command.py

[gcode_shell_command backup_cfg]
command: /usr/bin/bash /home/pi/printer_data/config/autocommit.sh
timeout: 30
verbose: True

[gcode_macro BACKUP_CFG]
description: Backs up config directory GitHub
gcode:
     RUN_SHELL_COMMAND CMD=backup_cfg



[gcode_macro HEATSOAK_MACRO]
description: Heatsoaks printer to my specifications
gcode:
     HEAT_SOAK HEATER='heater_bed' TARGET=110 SOAKER='temperature_sensor chamber' SOAK_TEMP=40 RATE=0.3 TEMP_SMOOTH=4 RATE_SMOOTH=20 COMPLETE='SOAKING_COMPLETE' CANCEL='CANCEL_PRINT' TIMEOUT=90 HEATING_REPORT_INTERVAL=30 SOAKING_REPORT_INTERVAL=60